# =======================================
# OS-SPECIFIC FILES
# =======================================

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
__MACOSX/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# =======================================
# BYTE-COMPILED / OPTIMIZED / DLL FILES
# =======================================
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# =======================================
# DISTRIBUTION / PACKAGING
# =======================================
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# =======================================
# PYINSTALLER
# =======================================
*.manifest
*.spec

# ======================================
